@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');

@import "tailwindcss";

* {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

code, pre, .mono {
  font-family: 'Libertinus Mono', monospace;
}

@theme {
  --color-primary: #5044E5;
}

.reset-tw, .reset-tw * {
  all: revert !important;
}

.cl-drawerRoot {
  z-index: 10;
}
